.benefits {
	@extend .section;
	& .container {
		padding-bottom: 60px;
	}
	&-list {
		@extend .list;
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		@media screen and (min-width: $tablet) and (max-width: 1199px) {
			margin: -15px;
			display: flex;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $desktop) {
			display: flex;
			margin: -15px;
		}
		& .header {
			@include fonts(14px, bold);
			margin-top: 30px;
			margin-bottom: 10px;
			color: $primary-text-color;
			line-height: 1.14;
			text-transform: uppercase;
			@media screen and (max-width: 767px) {
				text-align: center;
			}
		}
		& .text {
			@include fonts(14px, 400);
			margin-top: 0;
			margin-bottom: 0;
			color: $secondary-text-color;
			line-height: 1.71;
		}
	}
	&-item {
		max-width: 450px;
		margin-bottom: 30px;
		@media screen and (min-width: $tablet) and (max-width: 1199px) {
			margin: 15px;
			width: calc(50% - 30px);
		}
		@media screen and (min-width: $desktop) {
			min-width: 270px;
			margin: 15px;
		}
	}
	&-bg {
		@include centeredFlex(inline-flex);
		height: 120px;
		background-color: $secondary-bcg-color;
		width: 100%;
		@media screen and (max-width: 767px) {
			max-width: 450px;
		}
		@media screen and (min-width: $desktop) {
			width: 270px;
			display: inline-flex;
		}
	}
}