.clients {
	padding-bottom: 60px;
	& .section-title {
		margin-bottom: 30px;
	}
	&-list {
		display: flex;
		margin: -15px;
		@media screen and (max-width: 1199px) {
			flex-wrap: wrap;
		}
	}
	@media screen and (min-width: $desktop) {
		padding-bottom: 94px;
	}
}
.clients-item {
	margin: 15px;
	& .link {
		@include bordered($icon-color);
		@include centeredFlex(flex);
		@include transitionNone;
		height: 90px;
		border-radius: 4px;
		background-color: $white-text-color;
		fill: $icon-color;
		&:focus,
		&:hover {
			@include bordered($accent-text-color);
			fill: $accent-text-color;
		}
	}
	@media screen and (max-width: 767px) {
		min-width: calc(50% - 30px);
	  }
	
	  @media screen and (min-width: $tablet) and (max-width: 1199px) {
		min-width: calc((100% - 90px) / 3);
	  }
	
	  @media screen and (min-width: $desktop) {
		min-width: calc((100% - 180px) / 6);
	  }
}
