// Баннер
.banner {
	text-align: center;
	background-image: linear-gradient(to right, $gradient-hero-color, $gradient-hero-color), url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	&-title {
		@include fonts(44px, 900);
		margin-top: 0;
		margin-bottom: 0;
		color: $white-text-color;
		line-height: 1.36;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&-button {
		margin-top: 30px;
		font-weight: bold;
	}
}
