// Футер
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $footer-bcg-color;
	width: 100%;
	@media screen and (max-width: 1199px) {
		text-align: center;
	}
	&-container {
		display: block;
		@extend .container;
		@media screen and (min-width: $desktop) {
			display: flex;
			justify-content: space-between;
		}
		@media screen and (min-width: $tablet) and (max-width: 1199px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	&-navi {
		@media screen and (min-width: $desktop) {
			margin-right: 70px;
			width: 270px;
			@media screen and (min-width: $tablet) and (max-width: 1199px) {
				margin-left: 76px;

				max-width: 232px;
			}
		}
	}
	&-title {
		@include fonts(14px, bold);
		color: $white-text-color;
		line-height: 1.14;
		text-transform: uppercase;
	}
	&-icon {
		fill: white-text-color;
	}
}
.address {
	@include fonts(14px, 400);
	margin-top: 20px;
	margin-bottom: 9px;
	color: $white-text-color;
	line-height: 1.71;
	font-style: normal;
	text-decoration: none;
	&-text {
		@include fonts(14px, 400);
		color: $footer-rgba-color;
		line-height: 1.71;
		text-decoration: none;
		font-style: normal;
	}
}
.address-list {
	margin-top: 20px;
	& > span:not(:last-child) {
		margin-bottom: 9px;
	}
	@media screen and (min-width: $desktop) {
		margin-top: 20px;
	}
}
// Footer icon list
.networks {
	margin-top: 60px;
	@media screen and (min-width: $desktop) {
	width: 270px;
	margin-top: 12px;
	}
	&-list {
		@extend .list;
		display: flex;
		@media screen and (max-width: 753px) {
			justify-content: center;
		}
	}
	&-item:not(:last-child) {
		margin-right: 10px;
	}
	@media screen and (min-width: $tablet) and (max-width: 1199px) {
		margin-right: 89px;
		margin-top: 0;
		max-width: 206px;
	}
}
.networks-item {
	& .link {
		@include centeredFlex(inline-flex);
		@include transitionNone;
		margin-top: 20px;
		width: 44px;
		height: 44px;
		background-color: $footer-networks-bgc;
		background-position: center;
		border-radius: 50%;
		fill: $white-text-color;
		cursor: pointer;
		&:focus {
			background-color: $accent-text-color;
		}
		&:hover {
			background-color: $accent-text-color;
		}
	}
}
