.portfolio-container {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}
.projects.section {
	@extend .section;
	padding-top: 50px;
}
.filter {
	@extend .list;
	@include centeredFlex(flex);
	&-item {
		margin-right: 8px;
		&:last-child {
			margin: 0;
		}
	}
	& .button {
		@include fonts(16px, 500);
		@include transitionNone;
		color: $primary-text-color;
		background-color: $secondary-bcg-color;
		min-width: 73px;
		height: 38px;
		font-family: inherit;
		letter-spacing: 0.03em;
		line-height: 1.6;
		box-shadow: none;
		border-radius: 4px;
		padding: 6px 22px;
		text-align: center;
		&:focus,
		&:hover {
			color: $secondary-bcg-color;
			background-color: $accent-text-color;
			box-shadow: 0px 2px 2px $team-shadow-third-color, 0px 1px 2px $cards-shadow-color,
				0px 3px 1px $primary-border-color;
		}
	}
}
