$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$white-text-color: #ffffff;
$button-bcg-color: #2196f3;
$button-secondary-bg-color: #188ce8;
$secondary-bcg-color: #f5f4fa;
$icon-color: #afb1b8;
$header-border-color: #ececec;
$cards-border-color: #eeeeee;
$footer-bcg-color: #2f303a;
$footer-rgba-color: rgba(255, 255, 255, 0.6);
$footer-networks-bgc: rgba(255, 255, 255, 0.1);
$footer-input-color: rgba(255, 255, 255, 0.3);
$box-shadow: rgba(0, 0, 0, 0.15);
$bgc-modal: rgba(0, 0, 0, 0.2);
$primary-border-color: rgba(0, 0, 0, 0.1);
$modal-input-color: rgba(33, 33, 33, 0.2);
$placehilder-color: rgba(117, 117, 117, 0.5);
$gradient-hero-color: rgba(47, 48, 58, 0.4);
$gradient-guties-color: rgba(47, 48, 58, 0.8);
$team-shadow-first-color: rgba(0, 0, 0, 0.2);
$team-shadow-second-color: rgba(0, 0, 0, 0.14);
$team-shadow-third-color: rgba(0, 0, 0, 0.12);
$cards-shadow-color: rgba(0, 0, 0, 0.08);
$cards-shadow-second-color: rgba(0, 0, 0, 0.06);
$cards-shadow-third-color: rgba(0, 0, 0, 0.16);
$overlay-color: rgba(33, 150, 243, 0.9);
